.info {
	display: flex;
	align-items: center;
	gap: 10px;

	.box-avatar {
		position: relative;
		display: flex;
		align-items: center;

		.avatar {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			object-fit: cover;
		}
		.status {
			position: absolute;
			width: 12px;
			height: 12px;
			right: 0;
			bottom: 0;
			transform: translate(-5%, -5%);
			border: 1px solid var(--bg-color);
			border-radius: 50%;
			z-index: 1;
		}
		.active {
			background-color: #5cb85c;
		}
		.inactive {
			background-color: #9b9b9b;
		}
	}

	p {
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
	}

	span {
		color: #656565;
		font-size: 13px;
	}
}

.action {
	width: 30px;
	height: 30px;
	color: #4d80ff;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid transparent;
	transition: background-color 0.3s ease;
	user-select: none;

	&:hover {
		background-color: #4d80ff1a;
	}
}
