@import '../../../styles/variables';

.chat-active {
	background-color: #4d80ff1a;
}
.wrapper {
	display: flex;
	padding: 10px;
	gap: 7px;
	border-radius: 5px;
	cursor: pointer;

	.box-avatar {
		position: relative;

		.avatar {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
			flex-shrink: 0;
			position: relative;
		}
		.status {
			position: absolute;
			width: 12px;
			height: 12px;
			right: 0;
			bottom: 0;
			transform: translate(-17%, -17%);
			border: 1px solid var(--bg-color);
			border-radius: 50%;
			z-index: 1;
		}
		.active {
			background-color: #5cb85c;
		}
		.inactive {
			background-color: #9b9b9b;
		}
	}

	.box-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		overflow: hidden;
		gap: 3px;

		.name {
			font-size: 13px;
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.box-content {
			display: flex;
			font-size: 12.5px;
			gap: 5px;
			color: #afb2b7;

			.content {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.separator {
				position: relative;
				&::after {
					position: absolute;
					content: '.';
					left: 50%;
					transform: translateX(-50%);
					bottom: 3.5px;
				}
			}
			.time {
				flex-shrink: 0;
			}
		}
	}

	&:hover {
		background-color: #6d6d6d1a;
	}
}

@media (max-width: $breakpoint-md) {
	.wrapper {
		justify-content: center;
		align-items: center;

		.box-info {
			display: none !important;
		}
	}
}
