.form-search {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid #353535;

	svg {
		height: 1.5rem;
		width: 1.5rem;
		flex-shrink: 0;
		stroke: #999;
	}
	input {
		min-width: 0;
		font-size: 1.3rem;
		color: #fff;
		outline: none;
		border: none;
		background-color: transparent;
	}
}
