// Breakpoints
$breakpoint-sm: 576px; // Mobile
$breakpoint-md: 768px; // Tablet
$breakpoint-lg: 992px; // Laptop
$breakpoint-xl: 1200px; // Large Laptop
$breakpoint-xxl: 1400px; // Extra Large Screens
$breakpoint-xxxl: 1600px; // Ultra Large Screens
