@import '../../styles/variables';

.overlay {
	position: relative;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;

	.modal {
		position: absolute;
		width: 50%;
		height: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		z-index: 15;

		&-header {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			.title {
				flex: 1;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
			}

			.btn-close {
				cursor: pointer;
				height: 23px;
				width: 23px;
			}

			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				left: 0;
				bottom: -10px;
				background-color: var(--color-border-post);
			}
		}

		.box-comments {
			flex: 1;
		}
	}
}

.post {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid var(--color-border-post);
	padding: 12px;
	border-radius: 12px;
	background-color: var(--bg-post);

	.separator {
		width: 100%;
		height: 1px;
		background-color: var(--color-border-post);
	}

	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__details {
			display: flex;
			align-items: center;
			gap: 10px;

			.info-avatar {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				object-fit: cover;
				object-position: center;
			}
			.info-details {
				display: flex;
				flex-direction: column;

				&__name {
					font-size: 13px;
					color: #71aaeb;
					font-weight: 500;
					line-height: 16px;
				}
				&__time {
					font-size: 12.5px;
					color: #828282;
					line-height: 16px;
				}
			}
		}

		&__action {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			svg {
				width: 24px;
				height: 24px;
				color: #656565;
				// font-size: 30px;
				cursor: pointer;
				user-select: none;
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&__edit {
			width: 100%;

			.form-edit {
				width: 100%;
				height: 120px;
				border: none;
				outline: none;
				resize: none;
				color: #fff;
				border-radius: 5px;
				padding: 10px;
				border: 1px solid #353535;
				background-color: transparent;
			}

			.form-media {
				display: flex;
				flex-wrap: wrap;
				overflow: hidden;
				gap: 5px;

				&__file {
					position: relative;

					.close-icon {
						position: absolute;
						right: 0;
						user-select: none;
						cursor: pointer;
						z-index: 1;
						svg {
							width: 15px;
							height: 15px;
						}
					}
					img,
					video {
						height: 120px;
						border-radius: 3px;
					}
				}
			}

			.form-action {
				display: flex;
				gap: 5px;
				justify-content: end;
				button {
					border: none;
					outline: none;
					font-size: 12px;
					padding: 5px 10px;
					border-radius: 5px;
					cursor: pointer;
				}

				.btn-cancel {
					color: #ff3347;
					background-color: rgba(255, 77, 77, 0.08);
					&:hover {
						background-color: rgba(255, 77, 77, 0.2);
					}
				}
				.btn-save {
					color: #71aaeb;
					background-color: rgba(77, 128, 337, 0.1);
					&:hover {
						background-color: rgba(77, 128, 337, 0.25);
					}
				}
			}
		}

		&__article {
			white-space: normal;
			overflow-wrap: break-word;
		}
		&__media {
			position: relative;
			overflow: hidden;
		}
	}
	&-actions {
		display: flex;
		gap: 10px;
		// margin-top: -10px;

		&__reaction {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 5px;
			background-color: var(--bg-action);
			color: var(--color-action);
			line-height: 14px;
			padding: 4px 12px;
			border-radius: 17px;
			font-size: 13px;
			user-select: none;
			cursor: pointer;
			transition: background-color 0.3s ease, transform 0.2s ease;

			.heart-icon {
				height: 23px;
				width: 23px;
			}
			&:hover {
				background-color: var(--bg-action-hover);
			}
			&:active {
				transform: scale(1.05);
			}

			&.active {
				color: var(--color-action-active);
				background-color: var(--bg-action-active);
			}
		}
	}

	.box-comments {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		gap: 15px;

		.more-comments {
			display: flex;
			align-items: center;
			font-size: 13px;
			gap: 10px;

			.btn-more {
				cursor: pointer;
			}

			.loader {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				display: inline-block;
				border-top: 1px solid #fff;
				border-right: 1px solid transparent;
				box-sizing: border-box;
				animation: rotation 1s linear infinite;
			}

			@keyframes rotation {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}

	.box-comment {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 15px;
		gap: 10px;

		.avatar {
			height: 35px;
			width: 35px;
			border-radius: 50%;
		}

		.input-comment {
			flex-grow: 1;
			background-color: transparent;
			border: none;
			color: #fff;
			outline: none;
		}

		.button-comment {
			width: 21px;
			height: 21px;
			background-color: transparent;
			border: none;
			outline: none;
			color: #fff;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}

			&:active {
				transform: scale(1.05);
			}
		}

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			top: -15px;
			background-color: var(--color-border-post);
		}
	}
}
