@import '../../styles/variables';

.form-input {
  position: relative;
  height: 50px;
  min-width: 210px;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--color-grey);
    color: var(--color-dark);
    padding: 0 15px;
    border-radius: 5px;
    font-size: 17px;
    background-color: transparent;
    transition: border 0.1s ease;
    z-index: 1;
    outline: none;

    &:focus {
      border-color: var(--color-dark);
    }

    &:focus + label,
    &:valid + label {
      top: 0;
      left: 10px;
      font-size: 15px;
      color: var(--color-dark);
      background-color: var(--color-white);
      padding: 0 5px;
      opacity: 1;
      z-index: 2;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--color-dark);
    transition: 0.2s ease;
    pointer-events: none;
    user-select: none;
    opacity: 0.8;
    z-index: 0;
  }

  &:has(span) {
    margin-bottom: 30px;
  }

  span {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -23px;
    font-size: 15px;
    color: var(--color-danger);
    text-align: start;
  }

  &.dark {
    input {
      color: var(--color-white);
      &:focus {
        border-color: var(--color-white);
      }
      &:focus + label,
      &:valid + label {
        color: var(--color-white);
        background-color: var(--color-dark);
      }
    }
    label {
      color: var(--color-white);
    }
  }

  &.error input {
    border-color: var(--color-danger);
  }

  &.error input:focus + label {
    color: var(--color-danger);
  }

  &.error label {
    color: var(--color-danger);
  }
}
