.wrapper {
	position: relative;
	display: flex;
	padding-top: 20px;
	gap: 5px;

	.avatar {
		height: 35px;
		width: 35px;
		border-radius: 50%;
	}

	.name {
		position: absolute;
		top: 0;
		font-size: 12.5px;
		left: 40px;
		color: #8a8d91;
	}

	.content {
		max-width: 80%;
		font-size: 13px;
		line-height: 21px;
		padding: 7px 12px;
		border-radius: 20px;
		background-color: #222222;
	}
}
