// Breakpoints
$breakpoint-x: 0;
$breakpoint-xs: 320px;
$breakpoint-sm: 576px; // Mobile
$breakpoint-md: 768px; // Tablet
$breakpoint-lg: 992px; // Laptop
$breakpoint-xl: 1200px; // Large Laptop
$breakpoint-xxl: 1400px; // Extra Large Screens
$breakpoint-3xl: 1600px; // Ultra Large Screens
